.App {
  text-align: center;
}

.App-logo {
  width: 250px;
  height: 100px;
  
  animation: App-logo-zoom 1s ;
  transform: scale(2.6);
}

.App-header {
  background-color: gold;
  height: 160px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.1em;
}

.App-menu {
  background: grey;
  
}

.button-menu{
  cursor: pointer;
  border-style: solid 5px;
  border-color: black;
}
.button-menu:hover {
  background-color: gold;
  
  
  
}


/*
a:hover {
  margin: 20px;
  color: gold;
  border-bottom: 5px solid gold;
}
a:focus {
  background-color: black;
  color: gold;
  border-bottom: 5px solid gold;
}
*/
@keyframes App-logo-zoom {
  from { transform: scale(18); }
  to { transform: scale(2.6); }
}
